@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

html, body {
  overflow-x: hidden;
}
